.x-autocomplete-drop {
  background: white;
  border: 1px solid black;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;

    &:hover {
      background: ghostwhite;
      cursor: pointer;
    }
  }
}
